/* General */
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

/* Code de l'entête */
.container {
    display: flex;
    justify-content: space-between; /* Place les éléments à chaque extrémité */
    align-items: center; /* Centre les éléments verticalement */
}

.logo-container {
    margin: 0;
}

.logo {
    width: 61.09px;
    height: 19px;
}

.seach{
    display: none;
}

.nav-list {
    display: flex;
    list-style-type: none; /* Supprime les puces */
}

.nav-list li {
    margin-left: 20px; /* Espacement entre les liens */
}

.entête {
    width: 1340px;
    height: 53px;
}

aside {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
    text-align: left;
}
.aside_marseille{
    margin-left: 30px;
}
h2 {
    font-size: 22px;
    font-weight: 700;
    line-height: 25.83px;
    text-align: left;
}

.logo1 {
    display: none;
}

.formulaireseach {
    margin-top: 30px;
    margin-bottom: 30px;
}

.champ {
    height: 42px; 
    border: 1px var(--filter-bg-color) transparent;
}

.logof {
    width: 50px;
    height: 49px;
    border-radius: 15px 0px 0px 15px;
    border: 1px 0px 0px 0px;
    float: left;
}

.container-filtre {
    display: grid;
    grid-template-columns: 50px 173px 134px 170px 167px;
    margin-bottom: 30px;
}

figure {
    margin: auto;
}

.filtrage0 {
    margin-top: 10px;
}

figcaption {
    padding-top: 5px;
}

.button {
    background-color: rgb(79, 79, 252);
    color: aliceblue;
    height: 51px;
    width: 132px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: solid;
    border-color: aliceblue;
}

.buttonf {
    border: 2px solid var(--main-bg-color);
    border-radius: 50px;
    margin: 4%;
    padding: 5px;
}

.containerbutton:hover {
    border-radius: 50px;
    line-height: 25px;
    font-weight: 100px;
    border-color: aquamarine;
    background-color: rgb(229, 248, 242);
}

.filtrage {
    border: 1px white none;
    height: 20px;
    float: left;
    margin-right: 5px;
    padding: 4px;
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

 a{
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card-hébergement {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    display: flex;
    flex-direction: column;

}
.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}

/* Hébergements And Populaires */
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/* Hébergements */
.hebergements {
    width: 65%;
}
.card-hébergement {
    width: 16vw;
    margin-bottom: 10px;
}
@media (min-width: 1500px) {
    .card-hébergement {
        width: 250PX; /* Limite la largeur maximale à 1500 pixels */
    }
}

.card img {
    object-fit: cover;
}

.images-h {
    height: 130px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    object-fit: cover;
}

/* Populaires */
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.hébergement-cards {
    display: flex;
    flex-wrap: wrap;
   justify-content: space-between;
    
}

.plus {
    margin-top: 30px;
}

.card-content-hébergement {
width: 100%;
 padding-bottom: 15px;
 margin-top: 0px;
 box-sizing: border-box;
}

.card-rating-hébergement {
    display: flex;
    justify-content: left;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hébergement-cards {
    margin-top: 30px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.directionRow {
    display: flex;
    justify-content: space-between;
}

.elementM {
    width: 98%;
    height: 380px;
    border: 5px white solid;
    border-radius: 12px;
    margin-left: 0%;
    object-fit: cover;
}
.div-m{
    width: 23%;
    height: 439px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* ombre */;
    box-sizing: border-box;
}
footer{
    background-color: var(--main-bg-color);
}
.basdepage {
    display: flex;
  justify-content: space-between;
    margin-top: 40px;
}

.nav-list-footer {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.div-footer {
    width: 446px;
    height: 172px;
    text-align: left;
    margin-left: 0px;
    padding-left: 30px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .card-hébergement{
       width: 95%;
    }
    
    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    /*mon code ajouter*/
    .directionRow{
        display: flex;
        justify-content: space-between;
    }
    .div-m{
        width: 24%;
        height: 270px;
        border-radius: 20px;
    }
    .elementM{
        width: 95%;
        height: 200px;
        gap: 0px;
        border-radius: 20px 20px 0px 0px;
        opacity: 0px;
        border-radius: 20px; 
    }
    .hébergement-cards{
        display: flex;
        flex-wrap: wrap;
    }
    .images-h {
        width: 23vw;
        height: 130px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        object-fit: cover;
        
    }
    .seach{
        display: none;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .hebergements-and-populaires .hebergements{
        background-color: white;
    }
    .main-container {
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
    }
    /* header  */
  .container{
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
  }
  .nav-container{
    width: 100%;
  }
  .nav-list{
   padding-left: 0px;
   display: flex;
   justify-content: space-between;
  }
  .nav-list li{
    padding: 0px 35px;
    margin-left: 0px;
  }
  .logo-container{
    width: 100%;
  }
  .logo{
    width: 61px;
    height: 19px;
    margin-left: 48%;
  }
  .entête-h2{
    padding: 0px;
    margin-bottom: 0px;
  }

  /*barre de recherche*/
  .champ{
    width: 65%;
    border: 1px snow solid;
  }
form{
    width: 100%;
}
.button{
   width: 12%;
   background-position: center;
   background-size: contain;
   border-radius: 15px;
}
.seach{
   display: block;
    background-size: cover;
   position: absolute;
   top: 220px;
   left: 78%;
   width: 35px;
   height: 17px;
}
.button[value]{
    color: transparent;
}
.logo1{
    display: block;
}

/*le filtre*/
.container-filtre{
    display: grid;
        grid-template-columns: 49% 49%;
        gap: 2%;
        width: 100%;
    }
    .filtrage-0 {
        grid-column-start: 1;
        grid-column-end: 3;
        margin: 0px;
    }
    .hebergements-and-populaires {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .populaires {
        order: 1; /* Pour placer ce conteneur en premier */
        
    }
    
    .hebergements {
        order: 2; /* Pour placer ce conteneur en second */
    }
    .populaires-cards{
        display: flex;
        flex-direction: column;
    }
    .hébergement-cards{
        margin-left: auto;
    }
    .card{
        width: 73vw;
    }
    .card-hébergement{
        width: 73vw;
        display: flex;
        flex-direction: column;
    }
    .images-h{
        width: 100%;
    }
    .directionRow{
        display: flex;
        flex-direction: column;
    }
    .elementM{
        width: 98%;
    }
    .div-m{
        width: 100%;
    }
    .basdepage{
        display: flex;
        flex-direction: column;
    }
    .div-footer{
        width: 100%;
    }
}